
.container{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    background:linear-gradient(180deg, #f6ffff, #fcf8e4,#ffefef);

}
.left{
     height: 35vh;
      width: 15vw;
       background: url('/image.jpeg');
       background-repeat: no-repeat;
       background-size: cover;
       border-radius: 15px;
       box-shadow: 10px 10px 20px rgba(143, 143, 143, 0.437);
       transition: all ease-in-out 0.2s;
       
}
.left:hover{
        // height: 35.2vh;
        // background-size: cover;
        //  box-shadow: 20px 40px 20px rgba(143, 143, 143, 0.437);
          box-shadow: 10px 10px 20px #d1d1d1;
         cursor:pointer;
         transform: scale(1.01);
    }    

.right{
    height: 90%;
    width: 65vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    div{
        margin: 10px 30px;
    }
   
    }
   
#about{
    width: 65%;
    font-size: 2.5rem;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    };


.text{
    width: 90%;
    color: rgb(84, 84, 84);
     font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    };

 

    .project-btn{
        padding: 10px;
        margin:10px;
         background-color:#8902ff;
         border-radius: 5px;
        color: white;
        border: none;
    }
    .project-btn:hover{
        cursor:pointer;
        background-color: rgb(163, 57, 255);
        
    }
    .download-cv{
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        background-color: white;
        border: 0.5px solid #b0b0b0;
    }
    .download-cv:hover{
        cursor: pointer;
        border: 0.5px solid rgb(137, 2, 255);
    }
    .box-container{
     height: 35vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px ;
    background-color: #feeeee;
    
    

}
.box{
    border-radius: 10px;
    background-color: rgb(255, 238, 238);
    height: 68% ;
    width: 20%;
    text-align: center;
    align-content: center;
    border: 1px solid #b0b0b0;
    margin: 10px 30px;

    span{
    font-size: 2rem;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    }
    div{
        color: rgb(82, 82, 82);
        font-size: 0.9rem;
    }
    
}
    
.container-social{
    margin: auto;
    height: 15vh;
     background-color: #feeeee;
    border-radius: 7px;
    border: 0.5px solid rgb(205, 205, 205);
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 30px;
}

.container-social a {
  text-decoration: none;
  color: #8902ff;
  font-size: 30px;
  margin: 0 10px;
  transition: color 0.3s ease;
  font-size: 1.8rem;
  align-content: center;
}

.container-social a:hover {
  color: #0077b5; /* LinkedIn blue by default */
}
footer{
    height: 50px;
}


