
// .container{
//      background: linear-gradient(180deg, #fbebeb, #fcf8e4,#eeffff);
//      height: 100vh;
//      border: 2px dotted greenyellow;
// }
.container{
    background: linear-gradient(180deg, #fbebeb, #fcf8e4,#eeffff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
   
}
.name-bar{
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 20px; 
   
    .fname{
        width: 70%;
        font-size: 2.7rem;
        color: rgb(153, 41, 251);
        font-weight: bold;
        font-family:'Open Sans','Helvetica Neue', sans-serif;
    };

    // pre{
    //     font-family: 'Open Sans', 'Helvetica Neue', sans-serif;;
    //     color: linear-gradient(gray, red);
    // }
    p{
        font-family: sans-serif;
    }
    button{
        height: 2rem;
        border-radius: 5px;
        border:none;
        padding: 5px 15px;
        background-color:#8902ff;
        color: white;
        transition: all linear 0.1s ;
    }
    button:hover{
         background-color:rgb(153, 37, 255);
         cursor:pointer
    }
   

}


.details{
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    height: 30%;
}
.img-bar{
     height: 260px;
      width: 250px;
       border-radius: 15px;
       box-shadow: 10px 10px 20px rgba(143, 143, 143, 0.437);
       transition: all ease-in-out 0.2s;
       img{
         height: 100%;
         width: 100%;      
         border-radius: 15px;
       }
       
      

}
.right:hover{
    // height: 50.2vh;
    // width: 23.2vw;
    // background-size: cover;
    box-shadow: 10px 10px 20px #d1d1d1;
     cursor:pointer;
    transform: scale(1.01);
}

// div,p{
//     border: 1px solid red;
// }

@media (min-width: 300px) and (max-width: 600px) {


    .container{
        flex-direction: column;
        height: 100vh;
        justify-content: start;
        gap: 0;
        padding: 0;
        padding-top: 30px;

       } 
    
   }
   .img-bar{
    height: 60px;
    width: 70px;
    margin: 10px;
   }
   .name-bar{
    padding: 0px;
    margin: 0px;
    width: 100vw;
    justify-content: start;   
    align-items: center; 
    .fname{
        margin: 10px 0px;
        width: 100px;
        text-align: center;
        font-size: 1.2rem ;   
        border: 2px solid red;
    }
    button{
        margin-top: 20px;
        padding: 5px;
    }
   }
   .details{
    width: 95%;
    margin: 10px 0px;
    text-align: center;
    
   
    p{
        font-size: 0.7rem;
        color: rgb(58, 58, 58);
        font-family: sans-serif;
    }
   }
  

   
