// @import url();
* {
  font-family: sans-serif;
}
.container {
  height: 10vh;
  // border-bottom: 1px solid #b8c5c5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: sticky;
  top: 0px;
  background-color: rgb(255, 248, 247);
}
.logo-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  span {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0px 10px;
  }
}
.logo {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #ffffff;
  margin: 0px 10px;
  background-color: #9929fb;
  transition: 0.1s;
}
.logo:hover {
  cursor: pointer;
  background-color: #9419ff;
}
.navbar-opt {
  ul {
    display: flex;
    a {
      text-decoration: none;
      color: black;
    }
    li {
      list-style: none;
      font-size: 0.7rem;
      margin: 0px 20px;
      padding: 10px 10px;
      transition: background linear 0.8s;
      font-weight: bolder;
    }
    a:hover {
      cursor: pointer;
      color: rgb(127, 115, 115);
    }
  }
}
.slider {
  display: none;
}
//  div,nav,span{
//   border: 1px solid red;
//  }

@media (min-width: 300px) and (max-width: 600px) {
  .container {
    height: 4rem;
    padding: 5px 20px;
  }
  .logo-box {
    height: 100%;
    span {
      font-size: 20px;
    }
  }
  .logo {
    height: 45px;
    width: 45px;
    font-size: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .navbar-opt {
    display: none;
  }
  .slider {
    display: block;
    font-size: 2rem;
    text-align: center;
    line-height: 150%;
  }
}
  
  ul{
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 0px 0px 5px 5px;
    height: 160px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 4.2rem;
    border: 1px solid black;
    a{
      color: rgb(78, 78, 78);
      text-decoration: none;
      padding: 0px 15px;
    }
    li{
      list-style: none;
      font-size: 0.7rem;
      
    }
  }
